header {
  background-color: #202020;
  height: 100px;
  max-width: 100vw;
}
header > div {
  border-bottom: grey solid 0.5px;
}

.header-container {
  max-width: 1180px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  gap: 355px;
}
.header-bottom-container {
  max-width: 1180px;
  margin: 0 auto;
  height: 39.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.user-connexion {
  width: 170px;
  padding: 0 7px;
  border-left: grey solid 0.5px;
  border-right: grey solid 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-logout {
  width: 170px;
  padding: 0 7px;
  border-left: grey solid 0.5px;
  border-right: grey solid 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-button {
  display: flex;
  gap: 5px;
  color: white;
  background-color: #202020;
  border: none;
  font-size: 16px;
}
.signup-button:hover {
  cursor: pointer;
}
.login-button {
  display: flex;
  gap: 5px;
  color: white;
  background-color: #202020;
  border: none;
  font-size: 16px;
}
.login-button:hover {
  cursor: pointer;
}
.logout-button {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: red;
  border: none;
  font-size: 16px;
  border-radius: 2px;
}
.logout-button:hover {
  cursor: pointer;
}
.logo {
  height: 100%;
}

.header-bottom-nav {
  color: white;
  background-color: #202020;
  font-size: 16px;
  font-weight: bold;
  border: none;
}
.header-bottom-nav:hover {
  cursor: pointer;
}
