.all-comics-vision {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 20px;
}

.all-comics-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 20px; */
}

.comic-container {
  display: flex;
  gap: 40px;
  border-bottom: #202020 solid 3px;
  padding: 25px 0;
  width: 100%;
  position: relative;
}

.comic-container img {
  height: 620px;
  width: 408px;
  box-shadow: 7px 12px 10px #202020;
  border-radius: 2px;
}

.comic-container img:hover {
  box-shadow: 7px 12px 10px #ed171e;
}

.comicsAdd-favorit-icon {
  color: #202020;
  font-size: 34px;
  position: absolute;
  top: 20px;
  right: 5px;
}

.comicsAdd-favorit-icon:hover {
  cursor: pointer;
  color: rgb(255, 157, 157);
}

.comicsRemove-favorit-icon {
  color: rgb(255, 157, 157);
  font-size: 34px;
  position: absolute;
  top: 20px;
  right: 5px;
  z-index: 1000;
}

.comicsRemove-favorit-icon:hover {
  cursor: pointer;
}

.details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  /* position: relative; */
}

.comics-details {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 20px;
  padding-right: 50px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #202020;
}

.comics-title-link > h2:hover {
  cursor: pointer;
  color: #ed171e;
}

p {
  line-height: 22px;
  font-style: italic;
}

.change-page {
  display: flex;
  align-items: center;
  gap: 40px;
}

.change-page span {
  font-size: 28px;
}

.button-enabled {
  background-color: #202020;
  color: white;
  border: none;
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 7px #202020;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-disabled {
  background-color: white;
  border: none;
  height: 50px;
  width: 50px;
}

.button-enabled:hover {
  cursor: pointer;
}

.no-change-page-comics {
  height: 50px;
  width: 50px;
}

.comics-search-section {
  background-color: #202020;
  height: 50px;
  border-top: grey solid 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comics-search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  color: white;
}

.comics-search-bar > input {
  height: 24px;
  width: 470px;
  border: #202020 solid 0.5px;
  border-radius: 2px;
  font-size: 18px;
}

.comics-title-link {
  text-decoration: none;
}

@media (max-width: 992px) {
  .all-comics-vision {
    max-width: 768px;
    padding: 60px 20px;
  }

  .all-comics-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    /* gap: 20px; */
  }

  .comic-container {
    flex-direction: column;
    gap: 0;
    padding: 25px 0;
  }
  .comic-container img {
    height: 620px;
    width: 408px;
    box-shadow: 7px 12px 10px #202020;
    border-radius: 2px;
  }

  .comicsAdd-favorit-icon {
    top: 20px;
  }

  .comicsRemove-favorit-icon {
    top: 20px;
  }

  .details-container {
    padding-top: 40px;
    /* position: relative; */
  }

  .comics-details {
    gap: 20px;
    padding-left: 5px;
    padding-right: 10px;
  }

  p {
    line-height: 22px;
    font-style: italic;
  }
}

@media (max-width: 768px) {
  .all-comics-vision {
    max-width: 576px;
    padding: 40px 10px;
  }
}

@media (max-width: 576px) {
  .all-comics-vision {
    max-width: 400px;
    padding: 30px 10px;
  }

  .comic-container {
    display: flex;
    gap: 0px;
    padding: 30px 0;
    width: 100%;
    position: relative;
  }

  .comic-container img {
    height: 570px;
    width: 100%;
  }

  .details-container {
    padding-top: 20px;
    /* position: relative; */
  }

  .comics-details p {
    display: none;
  }

  h2 {
    font-size: 22px;
    max-width: 325px;
  }

  .comicsAdd-favorit-icon {
    top: 618px;
    right: 3px;
  }

  .comicsRemove-favorit-icon {
    top: 618px;
    right: 3px;
  }

  .comics-search-bar {
    gap: 6px;
    font-size: 24px;
  }

  .comics-search-bar > input {
    height: 24px;
    width: 310px;
    font-size: 17px;
  }
}
