.comics-character-vision {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 80px 20px;
}

.charact-page-title {
  font-size: 50px;
  line-height: 60px;
  font-style: italic;
  font-weight: bold;
  padding-right: 5px;
  box-shadow: 10px 10px 5px #202020;
  border-radius: 3px;
}

.character-container {
  display: flex;
  width: 100%;
}

.character-infos {
  background-color: #202020;
  border: #ed171e solid 3px;
  /* height: 550px; */
  width: 100%;
  display: flex;
  border-radius: 2px;
  position: relative;
}

.character-infos img {
  height: 100%;
  width: 560px;
  object-fit: cover;
}

.charac-details-add-favorit {
  font-size: 38px;
  position: absolute;
  color: white;
  right: 10px;
  top: 10px;
}

.charac-details-add-favorit:hover {
  color: rgb(255, 157, 157);
  cursor: pointer;
}

.charac-details-remove-favorit {
  font-size: 38px;
  position: absolute;
  color: rgb(255, 157, 157);
  right: 10px;
  top: 10px;
  z-index: 1000;
}

.charac-details-remove-favorit:hover {
  cursor: pointer;
}

.charac-details-favorit-hidden {
  display: none;
}

.charact-info-details {
  width: 620px;
  display: flex;
  flex-direction: column;
  padding: 50px 35px;
  gap: 70px;
  text-align: justify;
}

.charact-info-details p {
  font-size: 18px;
  line-height: 26px;
  color: white;
}

.charact-info-details h2 {
  color: white;
}

.comics-character-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
}

.comic-with-character {
  width: calc((1180px - 100px) / 4);
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
  color: #202020;
}

.comic-with-character:hover {
  color: #ed171e;
}

.comic-with-character img {
  height: 420px;
  width: 100%;
  object-fit: cover;
  box-shadow: 7px 12px 10px #202020;
}

.comic-with-character img:hover {
  cursor: pointer;
  box-shadow: 7px 12px 10px #ed171e;
  border: #ed171e solid 1px;
}

.comic-with-character h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

@media (max-width: 1248px) {
  .comics-character-vision {
    max-width: 1024px;
  }

  .comics-character-container {
    max-width: 724px;
    margin: 0 auto;
    gap: 30px 80px;
    /* padding-left: 100px; */
  }

  .comic-with-character {
    width: calc((1024px - 380px) / 2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: #202020;
  }

  .comic-with-character img {
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .comics-character-vision {
    max-width: 992px;
  }

  .comics-charact-details {
    width: 620px;
    padding: 40px 25px;
    gap: 50px;
  }

  .character-infos {
    max-height: 450px;
  }
}

@media (max-width: 992px) {
  .comics-character-vision {
    max-width: 768px;
  }

  .comics-character-container {
    max-width: 704px;
    gap: 30px 60px;
    /* padding-left: 100px; */
  }

  .character-infos {
    max-height: 400px;
  }

  .character-infos img {
    width: 400px;
  }

  .charac-details-add-favorit {
    font-size: 34px;
  }

  .charac-details-remove-favorit {
    font-size: 34px;
  }

  .charact-info-details {
    width: 620px;
    padding: 30px 25px;
    gap: 40px;
    text-align: start;
  }

  .comic-with-character img {
    height: 500px;
  }

  .charact-info-details p {
    font-size: 17px;
    line-height: 24px;
  }

  .charact-info-details h2 {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .comics-character-vision {
    max-width: 576px;
    gap: 60px;
    padding: 60px 10px;
  }

  .character-infos {
    max-height: 350px;
  }

  .character-infos img {
    width: 270px;
    object-fit: contain;
  }

  .charac-details-add-favorit {
    font-size: 30px;
  }

  .charac-details-remove-favorit {
    font-size: 30px;
  }

  .charact-info-details {
    padding: 20px 15px;
    gap: 20px;
    text-align: start;
  }

  .charact-info-details p {
    font-size: 16px;
    line-height: 22px;
  }

  .charact-info-details h2 {
    font-size: 20px;
  }

  .comics-character-container {
    max-width: 576px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 0px 20px;
    width: 100%;
    padding-bottom: 20px;
    scroll-behavior: smooth;

    /* max-width: 576px; */
    /* margin: 0 auto; */
  }

  .comic-with-character {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: #202020;
  }

  .comic-with-character img {
    height: 492px;
  }

  .comic-with-character h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  .charact-page-title {
    font-size: 40px;
    line-height: 52px;
    box-shadow: 8px 8px 4px #202020;
  }
}

@media (max-width: 576px) {
  .comics-character-vision {
    max-width: 400px;
  }

  .character-infos {
    max-height: 800px;
    min-height: 400px;
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }

  .character-infos img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .charac-details-add-favorit {
    display: none;
  }

  .charac-details-remove-favorit {
    font-size: 34px;
    display: none;
  }

  .charac-details-favorit-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #202020;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
  }

  .charac-details-add-favorit-hidden {
    font-size: 34px;
    color: white;
  }

  .charac-details-remove-favorit-hidden {
    font-size: 34px;
    color: rgb(255, 157, 157);
  }

  .charact-info-details {
    padding: 20px 15px;
    gap: 10px;
    text-align: justify;
    max-width: 100%;
  }

  .charact-info-details p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .charact-info-details h2 {
    font-size: 22px;
  }

  .comics-character-container {
    max-width: 400px;
    gap: 0px 15px;
    width: 100%;
    padding-bottom: 20px;
    scroll-behavior: smooth;

    /* max-width: 576px; */
    /* margin: 0 auto; */
  }

  .comic-with-character {
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: #202020;
  }

  .comic-with-character img {
    height: 484px;
    /* width: calc(100% - 30px); */
  }

  .comic-with-character h3 {
    font-size: 16px;
    margin-top: 10px;
  }

  .charact-page-title {
    font-size: 40px;
    line-height: 52px;
    box-shadow: 8px 8px 4px #202020;
  }
}
