.main-login {
  min-height: calc(100vh - 150px);
}

.login-container {
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.login-title {
  font-size: 50px;
  line-height: 60px;
  font-style: italic;
  font-weight: bold;
  padding-right: 5px;
  box-shadow: 7px 12px 10px red;
  border-radius: 3px;
}
.to-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-acount {
  text-decoration: none;
  background-color: white;
  border: none;
  color: red;
}
.no-acount:hover {
  cursor: pointer;
}
