.hero-carousel {
  height: 600px;
  max-width: 100vw;
  background-color: white;
  display: flex;
  border-bottom: #202020 solid 3px;
  overflow-x: auto;
  /* scroll-behavior: smooth; */
}
.hero-carousel::-webkit-scrollbar {
  display: none;
}
.characters-group {
  max-width: 100%;
  display: flex;
  animation: spin 50s infinite linear;
  /* overflow: scroll; */
}
.picture-card {
  flex-shrink: 0 0 5em;
  width: calc(100% / 3);
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.hero-image {
  height: 100%;
  /* min-width: 100%; */
  /* object-fit: cover; */
  border: #202020 solid 3px;
}
.loading {
  height: 600px;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading > p {
  font-size: 3vw;
  color: #202020;
}
.error {
  height: 600px;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.error > p {
  font-size: 3vw;
  color: #202020;
}
