.hero {
  height: 600px;
  max-width: 100vw;
  background-color: white;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}
.hero::-webkit-scrollbar {
  display: none;
}
.hero-image {
  height: 100%;
  width: 800px;
  object-fit: cover;
  flex-shrink: 0;
}
.loading {
  height: 400px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading > p {
  font-size: 32px;
  color: #202020;
}
