.hero-carousel {
  height: 600px;
  max-width: 100vw;
  background-color: white;
  display: flex;
  border-bottom: #202020 solid 3px;
  overflow-x: auto;
}
.hero-carousel::-webkit-scrollbar {
  display: none;
}
.characters-group {
  display: flex;
  animation: spin 100s infinite linear;
}
.picture-card {
  flex-shrink: 0 0 10em;
  /* width: calc(100% / 3); */
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.hero-image {
  height: 100%;
  /* min-width: 100%; */
  /* object-fit: cover; */
  border: #202020 solid 3px;
}
.loading {
  height: 600px;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading > p {
  font-size: 3vw;
  color: #202020;
}
.error {
  height: 600px;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.error > p {
  font-size: 3vw;
  color: #202020;
}

@media (max-width: 1024px) {
  .hero-carousel {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .hero-carousel {
    height: 400px;
  }
}
@media (max-width: 576px) {
  .hero-carousel {
    height: 350px;
  }
  .hidden-group {
    display: none;
  }
}
