.hero {
  height: 600px;
  max-width: 100vw;
  background-color: white;
  display: flex;
  border-bottom: #202020 solid 3px;
  /* overflow: scroll;
  scroll-behavior: smooth; */
}
.hero::-webkit-scrollbar {
  display: none;
}

.hero-image {
  height: 100%;
  width: calc(100% / 3);
  object-fit: cover;
  flex-shrink: 0;
  border: #202020 solid 3px;
}
.loading {
  height: 400px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading > p {
  font-size: 32px;
  color: #202020;
}
