.all-characters-vision {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 20px;
}

.all-characters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  /* flex-direction: column; */
}

.character-preview-container {
  background-color: #1e2029;
  color: white;
  height: 370px;
  width: calc((1180px - 220px) / 4);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 3px;
}

.character-preview-container img {
  height: 225px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: red solid 5px;
}

.character-preview-container img:hover {
  border-top: red solid 4px;
  border-left: red solid 4px;
  border-right: red solid 4px;
}

.charac-details-container {
  height: 140px;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  position: relative;
}

.characters-name > h2 {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}

.char-name-link {
  text-decoration: none;
}

.characters-name > h2:hover {
  cursor: pointer;
  color: rgb(255, 74, 74);
  font-size: 19px;
}

.charAdd-favorit-icon {
  font-size: 35px;
  color: white;
  position: absolute;
  bottom: 17px;
  /* z-index: 1000; */
}

.charAdd-favorit-icon:hover {
  cursor: pointer;
  color: rgb(255, 157, 157);
}

.charRemove-favorit-icon {
  font-size: 35px;
  color: rgb(255, 157, 157);
  position: absolute;
  bottom: 17px;
  z-index: 1000;
}

.charRemove-favorit-icon:hover {
  cursor: pointer;
}

.characters-search-section {
  background-color: #202020;
  height: 50px;
  border-top: grey solid 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characters-search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  color: white;
}

.characters-search-bar > input {
  height: 24px;
  width: 470px;
  border: #202020 solid 0.5px;
  border-radius: 2px;
  font-size: 18px;
}

.page-number-container {
  width: 50px;
  text-align: center;
}

@media (max-width: 1180px) {
  .all-characters-vision {
    max-width: 1024px;
  }

  .all-characters-container {
    gap: 35px 110px;
  }

  .character-preview-container {
    width: calc((1024px - 260px) / 3);
  }
}

@media (max-width: 1024px) {
  .all-characters-vision {
    max-width: 992px;
    padding: 80px 66px;
  }

  .all-characters-container {
    gap: 35px 46px;
  }

  .character-preview-container {
    height: 370px;
    width: calc((992px - 226px) / 3);
  }
}

@media (max-width: 992px) {
  .all-characters-vision {
    max-width: 768px;
    padding: 80px 70px;
  }

  .all-characters-container {
    gap: 35px 92px;
  }

  .character-preview-container {
    height: 370px;
    width: calc((768px - 236px) / 2);
  }
}

@media (max-width: 768px) {
  .all-characters-vision {
    max-width: 576px;
    padding: 50px 10px;
  }
  .all-characters-container {
    gap: 35px 18px;
  }

  .character-preview-container {
    height: 370px;
    width: calc((768px - 230px) / 2);
  }
}

@media (max-width: 576px) {
  .all-characters-vision {
    max-width: 270px;
    padding: 40px 0px;
  }

  .character-preview-container {
    height: 370px;
    width: 100%;
  }

  .characters-search-bar {
    gap: 6px;
    font-size: 24px;
  }

  .characters-search-bar > input {
    height: 24px;
    width: 310px;
    font-size: 17px;
  }
}
