.signup-form-container {
  width: 400px;
  margin: 0 auto;
  padding: 5px 40px;
}

.signup-form-vision {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  height: 40px;
  border: none;
  border-bottom: red solid;
  outline: none;
  font-size: 16px;
}

.input-error {
  height: 40px;
  border: none;
  border-bottom: red solid;
  outline: none;
  font-size: 16px;
  color: red;
  background-color: rgba(255, 0, 0, 0.053);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.input-field-password {
  display: flex;
  flex-direction: column;
  position: relative;
}

.password-eye {
  font-size: 20px;
  color: #666666;
  position: absolute;
  right: 2px;
  top: 10px;
}

.field-error-text {
  height: 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 5px;
  color: red;
}

.signup-submit-button {
  height: 45px;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.signup-submit-button:hover {
  cursor: pointer;
}

.signup-submit-disabled {
  height: 45px;
  background-color: rgba(255, 0, 0, 0.387);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-submit-disabled > p {
  color: white;
  font-size: 16px;
  font-style: normal;
}

.form-checkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.line-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 10px;
}

.line-checkbox span {
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.newsletter-terms {
  padding: 0 12px;
  text-align: justify;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 16px;
}

.signup-error-message {
  text-align: center;
  font-weight: bold;
  color: red;
}
