.login-form-container {
  width: 400px;
  margin: 0 auto;
  padding: 30px 40px;
}

.login-form-vision {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login-submit-button {
  height: 45px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.login-submit-button:hover {
  cursor: pointer;
}

.login-submit-disabled {
  height: 45px;
  background-color: rgba(255, 0, 0, 0.387);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-submit-disabled > p {
  color: white;
  font-size: 16px;
  font-style: normal;
}

.login-error-message {
  font-weight: 12px;
}

.signin-error-message {
  text-align: center;
  font-weight: bold;
  color: red;
}
