.login-form-container {
  width: 400px;
  margin: 0 auto;
  padding: 30px 40px;
}

.login-form-vision {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login-password-input-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login-password-eye {
  font-size: 20px;
  color: #666666;
  position: absolute;
  right: 2px;
  top: 10px;
}

.login-password-eye:hover {
  cursor: pointer;
}

.login-submit-button {
  height: 45px;
  background-color: #202020;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.login-submit-button:hover {
  cursor: pointer;
  background-color: #ed171e;
}

.login-submit-disabled {
  height: 45px;
  background-color: #ed171e88;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-submit-disabled > p {
  font-style: italic;
}
