.comics-preview-section {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 100px 0;
}
h1 {
  font-size: 50px;
  line-height: 60px;
  font-style: italic;
  font-weight: bold;
  padding-right: 5px;
  box-shadow: 10px 10px 5px #202020;
  border-radius: 3px;
}
.carrousel {
  background-color: #202020;
  height: 600px;
  display: flex;
  gap: 10px;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: 20px 20px 20px red;
}

.carrousel img {
  width: calc((100% - 20px) / 3);
}
.read-comics-link {
  text-decoration: none;
  color: #202020;
}
h1:hover {
  color: white;
  background-color: red;
  box-shadow: 10px 10px 5px rgba(255, 0, 0, 0.462);
}
