.comics-preview-section {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 100px 0;
}
h1 {
  font-size: 50px;
  line-height: 60px;
  font-style: italic;
  font-weight: bold;
  padding-right: 5px;
  box-shadow: 10px 10px 5px #202020;
  border-radius: 3px;
}
.carousel {
  background-color: #202020;
  height: 600px;
  display: flex;
  gap: 10px;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: 20px 20px 20px red;
}

.carousel img {
  width: calc((100% - 20px) / 3);
}
.read-comics-link {
  text-decoration: none;
  color: #202020;
}
h1:hover {
  color: white;
  background-color: red;
  box-shadow: 10px 10px 5px rgba(255, 0, 0, 0.462);
}

.loadingMain {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingMain > p {
  font-size: 3vw;
  color: #202020;
}
.errorMain {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.errorMain > p {
  font-size: 3vw;
  color: #202020;
}

@media (max-width: 1248px) {
  .comics-preview-section {
    max-width: 960px;
    gap: 30px;
    padding: 80px 0;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
    box-shadow: 8px 8px 5px #202020;
  }
  .carousel {
    height: 500px;
    gap: 8px;
    box-shadow: 10px 10px 10px red;
  }

  .carousel img {
    width: calc((100% - 16px) / 3);
  }
}

@media (max-width: 1024px) {
  .comics-preview-section {
    max-width: 720px;
    gap: 30px;
    padding: 60px 0;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
    box-shadow: 8px 8px 5px #202020;
  }
  .carousel {
    height: 380px;
    gap: 8px;
    box-shadow: 10px 10px 10px red;
  }

  .carousel img {
    width: calc((100% - 16px) / 3);
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .comics-preview-section {
    max-width: 540px;
    gap: 30px;
    padding: 60px 0;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
    box-shadow: 8px 8px 5px #202020;
  }
  .carousel {
    height: 404px;
    gap: 8px;
    box-shadow: 8px 8px 5px red;
  }

  .carousel img {
    width: calc((100% - 8px) / 2);
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .comics-preview-section {
    max-width: 342px;
    gap: 30px;
    padding: 50px 0;
  }
  h1 {
    font-size: 33px;
    line-height: 40px;
    box-shadow: 6px 6px 4px #202020;
  }
  .carousel {
    height: 520px;
    gap: 5px;
    box-shadow: 8px 8px 5px red;
  }

  .carousel img {
    width: 100%;
    object-fit: cover;
  }
}
