.main-signup {
  min-height: calc(100vh - 150px);
}

.signup-container {
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.signup-title {
  box-shadow: 7px 12px 10px red;
}

.existing-acount {
  text-decoration: none;
  background-color: white;
  border: none;
  color: red;
}
.existing-acount:hover {
  cursor: pointer;
}
