.main-signup {
  min-height: calc(100vh - 150px);
}

.signup-container {
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.signup-title {
  font-size: 50px;
  line-height: 60px;
  font-style: italic;
  font-weight: bold;
  padding-right: 5px;
  box-shadow: 7px 12px 10px red;
  border-radius: 3px;
}

.existing-acount {
  text-decoration: none;
  background-color: white;
  border: none;
  color: red;
  font-size: 16px;
}
.existing-acount:hover {
  cursor: pointer;
}

.signup-error-msg {
  border: black solid 2px;
  height: 20px;
  min-width: 200px;
  margin-top: 20px;
}
.signup-error-msg > p {
  font-size: 16px;
  color: red;
}
