header {
  background-color: #202020;
  height: 100px;
  max-width: 100vw;
}
header > div {
  border-bottom: grey solid 0.5px;
}

.header-container {
  max-width: 1180px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header-bottom-container {
  max-width: 1180px;
  margin: 0 auto;
  height: 39.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.user-connexion {
  width: 180px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-logout {
  width: 180px;
  padding: 0 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: #202020;
  border: none;
  font-size: 16px;
}

.signup-button:hover {
  cursor: pointer;
  background-color: #ed171e;
  border-radius: 2px;
}

.hidden-signup-button {
  display: none;
  gap: 5px;
  color: white;
  background-color: #202020;
  border: none;
  font-size: 16px;
}

.login-button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: #202020;
  border: none;
  font-size: 16.5px;
}

.login-button:hover {
  cursor: pointer;
  background-color: #ed171e;
  border-radius: 2px;
}

.hidden-login-button {
  display: none;
  gap: 5px;
  color: white;
  background-color: #202020;
  border: none;
  font-size: 16px;
}

.logout-button {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: #ed171e;
  border: none;
  font-size: 16px;
  border-radius: 2px;
}

.logout-button:hover {
  cursor: pointer;
  background-color: white;
  color: #ed171e;
  font-weight: 600;
}

.logo {
  height: 100%;
}

.header-bottom-nav {
  color: white;
  background-color: #202020;
  font-size: 16px;
  font-weight: bold;
  border: none;
  width: 100px;
}

.header-bottom-nav:hover {
  cursor: pointer;
  background-color: #ed171e;
  border-radius: 2px;
}

.user-onscreen-username {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
}

.username-onscreen {
  font-weight: bold;
}

.not-onscreen-username {
  width: 180px;
}

@media (max-width: 1024px) {
  .logo {
    height: 60px;
  }
}

@media (max-width: 768px) {
  header {
    height: 90px;
  }

  .header-container {
    max-width: 768px;
    height: 40px;
  }

  .logo {
    height: 40px;
  }

  .header-bottom-container {
    max-width: 768px;
    height: 49.5px;
    justify-content: space-around;
    gap: 10px;
  }

  .user-onscreen-username {
    width: 160px;
    line-height: 16px;
  }

  .not-onscreen-username {
    width: 160px;
  }

  .user-connexion {
    width: 160px;
    padding: 0;
    justify-content: space-around;
  }

  .user-logout {
    width: 160px;
  }

  .signup-button {
    display: none;
  }

  .hidden-signup-button {
    display: flex;
    font-size: 20px;
  }

  .hidden-signup-button:hover {
    cursor: pointer;
  }

  .login-button {
    display: none;
  }

  .hidden-login-button {
    display: flex;
    font-size: 22px;
  }

  .hidden-login-button:hover {
    cursor: pointer;
  }

  .logout-button {
    height: 24px;
    gap: 6px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  header {
    height: 90px;
    max-width: 576px;
  }

  .header-container {
    max-width: 576px;
  }

  .logo {
    height: 40px;
  }

  .user-onscreen-username {
    width: 145px;
    border-left: none;
    font-size: 12px;
    line-height: 16px;
  }

  .username-onscreen {
    font-weight: 500;
  }

  .not-onscreen-username {
    width: 145px;
  }

  .user-connexion {
    width: 145px;
    padding: 0 10px;
  }

  .user-logout {
    width: 145px;
    padding: 0;
  }

  .header-bottom-container {
    max-width: 576px;
  }

  .header-bottom-nav {
    font-size: 16px;
    width: 100px;
  }

  .signup-button {
    display: none;
  }

  .hidden-signup-button {
    display: flex;
    font-size: 20px;
  }

  .login-button {
    display: none;
  }

  .hidden-login-button {
    display: flex;
    font-size: 22px;
  }
}
