.footer {
  background-color: #202020;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: white;
  font-size: 16px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.network-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  margin-left: 5px;
}

@media (max-width: 576px) {
  .footer {
    height: 40px;
    gap: 5px;
    color: white;
    font-size: 12px;
  }

  .network-logo {
    font-size: 18px;
  }
}
