.main-signup {
  min-height: calc(100vh - 150px);
}

.signup-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.signup-title {
  font-size: 50px;
  line-height: 60px;
  font-style: italic;
  font-weight: bold;
  padding-right: 5px;
  box-shadow: 7px 12px 10px #ed171e;
  border-radius: 3px;
}

.existing-acount {
  text-decoration: none;
  background-color: white;
  border: none;
  color: #ed171e;
  font-size: 16px;
}

.existing-acount:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .signup-container {
    max-width: 768px;
  }
  .signup-title {
    font-size: 45px;
    line-height: 55px;
    padding-right: 3px;
    box-shadow: 6px 8px 8px #ed171e;
  }
}

@media (max-width: 576px) {
  .main-signup {
    min-height: calc(100vh - 150px);
    background-color: white;
  }

  .signup-container {
    max-width: 576px;
    gap: 45px;
  }
}
