body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

input::placeholder {
  color: #a7a7a7;
  font-style: italic;
}

@media (max-width: 576px) {
  body {
    background-color: #202020;
  }
}
