.all-characters-vision {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 20px;
}
.all-characters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* flex-direction: column; */
}
.character-container {
  background-color: #1e2029;
  color: white;
  height: 370px;
  width: calc((1180px - 160px) / 5);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 3px;
}
.character-container img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.charac-details-container {
  height: 147px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
}
.characters-details > h2 {
  font-size: 20px;
}
.char-favorit-button {
  color: white;
  background-color: #1e2029;
  border: white solid 1px;
}
