.all-characters-vision {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 20px;
}
.all-characters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* flex-direction: column; */
}
.character-preview-container {
  background-color: #1e2029;
  color: white;
  height: 370px;
  width: calc((1180px - 160px) / 5);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 3px;
}
.character-preview-container img {
  height: 225px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: red solid 5px;
}
.character-preview-container img:hover {
  border-top: red solid 4px;
  border-left: red solid 4px;
  border-right: red solid 4px;
}

.charac-details-container {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
}
.characters-details > h2 {
  font-size: 18px;
  line-height: 20px;
}
.char-favorit-button {
  height: 22px;
  color: white;
  background-color: #1e2029;
  border: white solid 1px;
}
.char-favorit-button:hover {
  cursor: pointer;
  color: white;
  background-color: #0a6c0a;
  border: white solid 2px;
}
